@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    backface-visibility: hidden;
} */
html,body {
    max-width: 100%;
    overflow-x: clip;
    scroll-behavior: smooth;
    @apply bg-white text-slate-900 antialiased;
}
@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}
.bg-grid {
    background-image:
        linear-gradient(to right, rgba(15, 23, 42, 0.05) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(15, 23, 42, 0.05) 1px, transparent 1px);
    background-size: 40px 40px;
}
.animate-marquee {
    animation: marquee 20s linear infinite;
}